<!-- Include head and header partials here -->
<%- include('partials/head.ejs', {page: "Home"}) %>
<%- include('partials/header.ejs') %>

<!-- Create a div that displays a random breed image and random fact using data being received from the server.js file -->
<!-- 
<div class="card" style="width: 22rem;">

    <img class="card-img-top" src="<%= breed.image %>" class="figure-img img-fluid rounded" alt="No image available">
    <div class="card-body">
        <h5 class="card-title text-info"><%= breed.breed %></h5>
        <p class="card-text"><%= fact.fact %></p>
    </div>
  </div>

</div> -->



<!-- Include foot and footer partials here -->
<%- include('partials/footer.ejs') %>
<%- include('partials/foot.ejs') %>