<!-- Include head and header partials here -->
<%- include('../partials/head.ejs', {page: "Fact"}) %>
<%- include('../partials/header.ejs') %>

<!-- Create a div that displays all the fact data (fact, length) using the ID provided in the URL. 
    This data should come from the server.js files that will fetch the required data from MongoDB -->

    
            
<!-- <div class="card text-white bg-secondary mb-3" style="width: 30rem;">
    <h5 class="card-title">Facts</h5>
    <ul>
        <li><%= fact.fact %></li>
        <li><%= fact.length %></li>

    </ul>
</div> -->

<!-- Include foot and footer partials here -->
<%- include('../partials/footer.ejs') %>
<%- include('../partials/foot.ejs') %>