<!-- Include head and header partials here -->
<%- include('../partials/head.ejs', {page: "Facts"}) %>
<%- include('../partials/header.ejs') %>

<!-- Create an unordered list that display all the facts from MongoDB. 
    This data should come from the server.js files that will fetch the required data from MongoDB -->

    
  <!-- <div>
    
    <% facts.forEach(fact => { %>
        <ul>
            Pin goes here
            <!- <li>
                <a href="/fact/<%= fact._id.toString() %>"><%= fact.fact %></a>
                
            </li>
        </ul>
    <% }) %>
   
  </div> --> 
    <!-- Each list item should be wrapped with an anchor tag that redirects the user to that particular fact's detail route i.e. '/fact/:factId'  by passing its ID in the URL -->


<!-- Include foot and footer partials here -->
<%- include('../partials/footer.ejs') %>
<%- include('../partials/foot.ejs') %>